{% extends 'base.html' %}

{%block head%}
<title>Contacts Book</title>
{% endblock %}

{%block body%}
<div class="content">
    <h1>Contacts Book</h1>
   {% if contacts|length < 1 %}
   <h4>It's still empty!</h4> 
   {% else %}
    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.number }}</td>
            <td>{{ contact.address }}</td>
            <td>
                <a href="/update/{{ contact.id }}">Update</a>
                <br>
                <a href="/delete/{{ contact.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
    </table>
    {% endif %}
    <form action="/" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="number">Phone Number:</label><br>
        <input type="number" name="number" id="number"><br>
        <label for="address">Address:</label><br>
        <input type="text" name="address" id="address"><br>
        <input type="submit" name="submit" value="Add Contact">
    </form>
</div>

{% endblock %}